.btn-brand {
  background-image: linear-gradient(175deg, #19d3ae, #0fcfec);
  border-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
}

.text-brand {
  color: #1cc7c1;
}

@media only screen and (max-width: 600px) {
  .navText {
    color: black !important;
  }
}
